{% load socialaccount %}
{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Call Taxi : Home</title>
    {% tailwind_css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>
<body class="flex flex-col h-screen">
    <div class="bg-[#333333] h-1/5 flex flex-col md:flex-row items-center p-4 rounded-b-lg">
        <div class="flex items-center space-x-4">
            <!-- Menu Button -->
            <div class="group flex h-10 w-10 cursor-pointer items-center justify-center rounded-lg bg-white p-2 hover:bg-slate-200" id="menu-btn">
                <div class="space-y-2">
                    <span class="block h-1 w-5 origin-center rounded-full bg-[#FFB900] transition-transform ease-in-out group-hover:w-10 group-hover:translate-y-1.5 group-hover:rotate-45"></span>
                    <span class="block h-1 w-5 origin-center rounded-full bg-[#FFB900] transition-transform ease-in-out group-hover:w-10 group-hover:-translate-y-1.5 group-hover:-rotate-45"></span>
                </div>
            </div>
        
            <!-- Title -->
            <h1 class="text-white text-2xl">Call Taxi</h1>
        </div>
        

        <div class="ml-auto flex items-center space-x-2 w-full md:w-auto py-5">
            <input type="text" id="current-location" placeholder="ที่อยู่ปัจจุบัน" class="p-2 rounded-lg w-full md:w-48">
            <button id="call-taxi" class="bg-[#FFB900] text-black p-2 rounded-lg hover:bg-[#FFA500] w-full md:w-auto">ว่าง</button>
        </div>
    </div>

    <!-- Modal -->
    <div id="menu-modal" class="hidden fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center z-[1000]">
        <div class="bg-white p-8 rounded-lg w-11/12 max-w-md">
            <h2 class="text-2xl font-semibold mb-4">Menu</h2>
            <ul class="space-y-2">
                <li><a href="้home" class="block text-lg text-gray-700 hover:text-orange-500">Home</a></li>
                <li><a href="#" class="block text-lg text-gray-700 hover:text-orange-500" id="edit-profile-btn" >Account</a></li>
                <li><a href="#" class="block text-lg text-gray-700 hover:text-orange-500">Contact</a></li>
                <li>
                    <form action="{% url 'logout' %}" method="POST" class="inline">
                        {% csrf_token %}
                        <button type="submit" class="block text-lg text-gray-700 hover:text-orange-500">
                            Logout
                        </button>
                    </form>
                </li>
            </ul>
            <button id="close-modal" class="mt-6 block w-full bg-orange-500 text-white py-2 rounded-lg hover:bg-orange-600">Close</button>
        </div>
    </div>
    <div id="profile-modal" class="hidden fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center z-[1100]">
        <div class="bg-white p-8 rounded-lg w-11/12 max-w-md">
            <h2 class="text-2xl font-semibold mb-4">แก้ไขข้อมูลส่วนตัว</h2>
            
            <form id="profile-form" method="POST" action="{% url 'edit-profile' %}">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="first_name" class="block text-lg font-medium text-gray-700">First Name</label>
                    <input type="text" name="first_name" id="first_name" value="{{ request.user.first_name }}" class="p-2 border rounded-lg w-full">
                </div>
                <div class="mb-4">
                    <label for="last_name" class="block text-lg font-medium text-gray-700">Last Name</label>
                    <input type="text" name="last_name" id="last_name" value="{{ request.user.last_name }}" class="p-2 border rounded-lg w-full">
                </div>
                <div class="mb-4">
                    <label for="username" class="block text-lg font-medium text-gray-700">Username</label>
                    <input type="text" name="username" id="username" value="{{ request.user.username }}" class="p-2 border rounded-lg w-full">
                </div>
                <div class="mb-4">
                    <label for="email" class="block text-lg font-medium text-gray-700">Email</label>
                    <input type="email" name="email" id="email" value="{{ request.user.email }}" class="p-2 border rounded-lg w-full">
                </div>
                <div class="mb-4">
                    <label for="phone_number" class="block text-lg font-medium text-gray-700">Phone Number</label>
                    <input type="text" name="phone_number" id="phone_number" value="{{ request.user.phone_number }}" class="p-2 border rounded-lg w-full">
                </div>
                <div class="mb-4">
                    <label for="password" class="block text-lg font-medium text-gray-700">Password</label>
                    <input type="password" name="password" id="password" placeholder="Leave blank to keep current password" class="p-2 border rounded-lg w-full">
                </div>
                
                <div class="flex justify-end">
                    <button type="button" id="close-profile-modal" class="bg-gray-300 p-2 rounded-lg mr-2">ยกเลิก</button>
                    <button type="submit" class="bg-[#FFB900] p-2 rounded-lg hover:bg-[#FFA500]">บันทึก</button>
                </div>
            </form>
        </div>
    </div>
    
    <div id="map" class="flex-1"></div>

    <div id="work-modal" class="hidden fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center z-[1100] p-4">
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow-xl w-full max-w-sm sm:max-w-md md:max-w-lg overflow-hidden">
            <div class="bg-orange-500 p-4 sm:p-6">
                <h2 class="text-2xl sm:text-3xl font-bold text-white">งาน (Jobs)</h2>
            </div>
            <div class="p-4 sm:p-6 md:p-8">
                <form id="work-form" method="POST" action="{% url 'job_request' %}">
                    {% csrf_token %}
                    {% for job in job_requests %}
                    <div class="mb-8 last:mb-0 bg-gray-50 dark:bg-gray-700 rounded-lg p-4 shadow-md" 
                        data-start-lat="{{ job.start_location.latitude }}" 
                        data-start-lon="{{ job.start_location.longitude }}"
                        data-driver-id="{{ job.driver.id }}">
                        <div class="text-center mb-4">
                            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">{{ job.passenger.username }}</h3>
                            <p class="text-sm text-gray-500 dark:text-gray-400">Passenger</p>
                        </div>
                        <div class="space-y-2 mb-4">
                            <p class="text-sm sm:text-base text-gray-700 dark:text-gray-300">
                                <span class="font-medium">จุดเริ่มต้น :</span> {{ job.start_location }}
                            </p>
                            <p class="text-sm sm:text-base text-gray-700 dark:text-gray-300">
                                <span class="font-medium">สถานะ :</span> 
                                <span class="px-2 py-1 rounded-full text-xs font-medium
                                {% if job.status == 'requested' %}bg-yellow-100 text-yellow-800
                                {% elif job.status == 'accepted' %}bg-blue-100 text-blue-800
                                {% elif job.status == 'In Progress' %}bg-blue-100 text-blue-800
                                {% elif job.status == 'Completed' %}bg-green-100 text-green-800
                                {% else %}bg-red-100 text-red-800{% endif %}">
                                    {{ job.status }}
                                </span>
                            </p>
                            <p class="text-sm sm:text-base text-gray-700 dark:text-gray-300">
                                <span class="font-medium">เบอร์โทร :</span> {{ job.passenger.phone_number }}
                            </p>
                        </div>
                        <div class="flex justify-center space-x-4">
                            <button type="submit" name="action" value="decline_{{ job.id }}" class="py-2 px-4 text-sm font-medium text-white bg-red-500 rounded-lg hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50 transition-colors duration-300">
                                ไม่รับงาน
                            </button>
                            <button id="accept_{{ job.id }}" type="submit" name="action" value="accept_{{ job.id }}" class="py-2 px-4 text-sm font-medium text-white bg-green-500 rounded-lg hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 transition-colors duration-300">
                                รับงาน
                            </button>
                        </div>
                    </div>
                    {% endfor %}
                </form>
                
                <button id="close-modal-work" class="mt-6 block w-full bg-orange-500 text-white py-2 px-4 rounded-lg hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-opacity-50 transition-colors duration-300">
                    Close
                </button>
            </div>
        </div>
    </div>

    </div>
    <script>
        // DOM Elements
        const elements = {
            menuBtn: document.getElementById('menu-btn'),
            menuModal: document.getElementById('menu-modal'),
            closeModal: document.getElementById('close-modal'),
            callTaxiBtn: document.getElementById('call-taxi'),
            profileModal: document.getElementById('profile-modal'),
            editProfileBtn: document.getElementById('edit-profile-btn'),
            closeProfileModal: document.getElementById('close-profile-modal'),
            currentLocationInput: document.getElementById("current-location")
        };

        document.getElementById('call-taxi').addEventListener('click', function() {
            document.getElementById('work-modal').classList.remove('hidden');
        });

        document.getElementById('close-modal-work').addEventListener('click', function() {
            document.getElementById('work-modal').classList.add('hidden');
        });

        // ปิด modal เมื่อคลิกนอก modal
        window.addEventListener('click', function(event) {
            const modal = document.getElementById('work-modal');
            if (event.target === modal) {
                modal.classList.add('hidden');
            }
        });
        // Map configuration
        const mapConfig = {
            initialView: [13.7563, 100.5018],
            initialZoom: 13,
            tileLayerUrl: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
        };

        // Map variables
        let map, marker, destinationMarker, routeControl;
        const taxiMarkers = [];

        // Initialize map
        function initializeMap() {
            map = L.map('map').setView(mapConfig.initialView, mapConfig.initialZoom);
            L.tileLayer(mapConfig.tileLayerUrl, {}).addTo(map);
        }

        // UI Event Listeners
        function setupEventListeners() {
            elements.editProfileBtn.addEventListener('click', () => toggleModal(elements.profileModal, false));
            elements.closeProfileModal.addEventListener('click', () => toggleModal(elements.profileModal, true));
            elements.menuBtn.addEventListener('click', () => toggleModal(elements.menuModal, false));
            elements.closeModal.addEventListener('click', () => toggleModal(elements.menuModal, true));

            window.addEventListener('click', (event) => {
                if (event.target === elements.profileModal) toggleModal(elements.profileModal, true);
                if (event.target === elements.menuModal) toggleModal(elements.menuModal, true);
            });

            map.on('click', handleMapClick);
        }

        // Toggle modal visibility
        function toggleModal(modal, hide) {
            modal.classList.toggle('hidden', hide);
        }

        // Handle map click for destination selection
        function handleMapClick(ev) {
            if (destinationMarker) map.removeLayer(destinationMarker);
            
            destinationMarker = L.marker(ev.latlng).addTo(map)
                .bindPopup('จุดหมาย')
                .openPopup();
        }

        // Set view to current location
        function setViewToCurrentLocation() {
            if ("geolocation" in navigator) {
                navigator.geolocation.getCurrentPosition(
                    (position) => {
                        const { latitude: lat, longitude: lon } = position.coords;
                        elements.currentLocationInput.value = `${lat},${lon}`;
                        map.setView([lat, lon], 15);
                        
                        if (marker) map.removeLayer(marker);
                        
                        marker = L.marker([lat, lon]).addTo(map)
                            .bindPopup('ที่อยู่คุณปัจจุบัน')
                            .openPopup();

                        var circle = L.circle([lat, lon], {
                            color: 'red',
                            fillColor: '#f03',
                            fillOpacity: 0.5,
                            radius: 1000
                        }).addTo(map);
                    },
                    (error) => {
                        console.error("Error getting location:", error.message);
                        alert("Unable to retrieve your location. Please enter it manually.");
                    }
                );
            } else {
                console.error("Geolocation is not supported by this browser.");
                alert("Geolocation is not supported by your browser. Please enter your location manually.");
            }
        }

        // Initialize the application
        function init() {
            initializeMap();
            setupEventListeners();
            setViewToCurrentLocation();
        }

        document.addEventListener("DOMContentLoaded", function() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    const latitude = position.coords.latitude;
                    const longitude = position.coords.longitude;

                    // Send the location to the server
                    fetch("{% url 'save_location' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                            'X-CSRFToken': '{{ csrf_token }}'  // Ensure CSRF token is sent
                        },
                        body: `latitude=${latitude}&longitude=${longitude}`
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            console.log("Location saved:", data.location);
                        } else {
                            console.error("Error saving location:", data.error);
                        }
                    })
                    .catch(error => {
                        console.error("Fetch error:", error);
                    });
                }, function(error) {
                    console.error("Geolocation error:", error);
                });
            } else {
                console.error("Geolocation is not supported by this browser.");
            }
        });
        document.addEventListener('DOMContentLoaded', init);
    </script>
</body>

</html>