{% load socialaccount %} 
{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Call Taxi : Login</title>
    {% tailwind_css %}
</head>
<body class="bg-gray-100 min-h-screen">
    <div class="container mx-auto flex flex-col justify-center items-center min-h-screen p-4">
        <div class="logo text-center mb-8">
            <img class="max-h-40 mx-auto" src="{% static 'img/taxi-svgrepo-com.svg' %}" alt="Taxi Logo">
            <p class="text-gray-900 text-5xl font-black mt-4">Call Taxi</p>
        </div>
        <div class="w-full max-w-md">
            <h2 class="text-3xl font-semibold text-center mb-6">เข้าสู่ระบบ</h2>
            
            {% if error %}
                <div class="mb-4 text-red-500 text-center">{{ error }}</div>  <!-- Display error message -->
            {% endif %}
            
            <form method="POST" action="{% url 'login' %}" class="space-y-4">
                {% csrf_token %}
                <input type="text" name="username" id="id_username" class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-black focus:border-transparent" placeholder="Username" required>
                <input type="password" name="password" id="id_password" class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-black focus:border-transparent" placeholder="Password" required>
                <button type="submit" class="w-full p-3 bg-black text-white font-bold rounded-md hover:bg-gray-800 transition-colors duration-300">เข้าสู่ระบบ</button>
            </form>
            <div class="mt-4">
                <!-- Direct Google Login Form -->
                <form method="POST" action="{% provider_login_url 'google' %}">
                    {% csrf_token %}
                    <button type="submit" class="w-full p-3 bg-white text-gray-700 font-bold rounded-md border border-gray-300 hover:bg-gray-50 transition-colors duration-300 flex items-center justify-center">
                        <img class="w-5 h-5 mr-2" src="{% static 'img/google.png' %}" alt="Google logo">
                        Login with Google
                    </button>
                </form>
            </div>
            <p class="mt-6 text-center">Need an account? <a href="/signup/" class="text-black font-semibold hover:underline">Register</a></p>
        </div>
        </div>
    </div>
</body>
</html>